*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.pai{
    margin-left: 20px;
}
#osco{
    display: flex;
    flex-wrap:wrap;
    float: right;
    margin-right: 100px;
     margin-top: -10px;
    width:260px;
    border: black solid 2px;
    
    
}
#osco>h4, p, input,textarea{margin: 13px;}

#osco>a{
margin-left: 15px;}

#osco:hover{
    background-color: gold;
}

input{
    padding: 10px;
}

header{
    display: flex;
    flex-direction: row;
    margin: 15px;
    max-height: 100vh;

}
header a{
    text-decoration: none;
    color: black;
    margin: 20px; 
}
.newsc img{
    width: 900px;
    height: 400px;
}
.pai p {
    width:700px ;
    margin: 15px;
}
.pai h2{
    margin-left:180px;
}
.pai h4{
    margin-left:20px;
}
@media  screen and (max-width:1100px){
    #osco{
       display: flex;
        float: none;
        width:260px;
        border:black solid 2px;
        margin:0 auto ;
       
    }
    #osco p{ 
        height: 30px;
    }
    .pai p {
        width:420px ;
        height:500px;
        margin: 15px;
    }
    .pai h2{
        margin-left:180px;
    }
    .pai h4{
        margin-left:20px;
    }
    .newsc img{
        width: 100%;
        height: 400px;
    }

}